<a href="https://colab.research.google.com/github/sravya-anupoju/Learn_HTML/blob/main/Farmingham_Risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project to calculate 10 year CHD (Coronary heart disease is a narrowing of the small blood vessels that supply blood and oxygen to the heart. Coronary heart disease (CHD) is also called coronary artery disease.)

->Import the necessary libraries
->numpy is used for numpy arrays
->pandas is used for data cleaning and analysis of data
->As we want to predict 10 year CHD, we use a logistic regression model and hence, LogisticRegression is imported from sklearn.linear_model
->train_test_split from sklearn.model_selection as the name suggests, helps in classifying the data into test data and training data.
->accuracy_score is imported to predict the accuracy of our model.

In [3]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Here, i stored data from our dataset in mydata variable

In [4]:
mydata=pd.read_csv('/content/framingham.csv')

Find the number of rows and number of columns of the dataset using shape

In [13]:
mydata.shape

(4238, 16)

head gives the first 5 rows of the dataset

In [14]:
mydata.head()

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0

[5 rows x 16 columns]

In [20]:
mydata.describe()

              male          age  ...      glucose   TenYearCHD
count  4238.000000  4238.000000  ...  3850.000000  4238.000000
mean      0.429212    49.584946  ...    81.966753     0.151958
std       0.495022     8.572160  ...    23.959998     0.359023
min       0.000000    32.000000  ...    40.000000     0.000000
25%       0.000000    42.000000  ...    71.000000     0.000000
50%       0.000000    49.000000  ...    78.000000     0.000000
75%       1.000000    56.000000  ...    87.000000     0.000000
max       1.000000    70.000000  ...   394.000000     1.000000

[8 rows x 16 columns]

In [23]:
mydata['TenYearCHD'].value_counts()

0    3594
1     644
Name: TenYearCHD, dtype: int64

Check for null values:

In [34]:
mydata.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

As we notice some null values, we need to fill the NULL values.

In [38]:
newdata=mydata.interpolate()

In [39]:
newdata.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [46]:
X=newdata.drop(columns= 'TenYearCHD',axis=1)
Y=newdata['TenYearCHD']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [47]:
print(X)
print(Y)

      male  age  education  currentSmoker  ...  diaBP    BMI  heartRate  glucose
0        1   39        4.0              0  ...   70.0  26.97       80.0     77.0
1        0   46        2.0              0  ...   81.0  28.73       95.0     76.0
2        1   48        1.0              1  ...   80.0  25.34       75.0     70.0
3        0   61        3.0              1  ...   95.0  28.58       65.0    103.0
4        0   46        3.0              1  ...   84.0  23.10       85.0     85.0
...    ...  ...        ...            ...  ...    ...    ...        ...      ...
4233     1   50        1.0              1  ...   92.0  25.97       66.0     86.0
4234     1   51        3.0              1  ...   80.0  19.71       65.0     68.0
4235     0   48        2.0              1  ...   72.0  22.00       84.0     86.0
4236     0   44        1.0              1  ...   87.0  19.16       86.0     96.5
4237     0   52        2.0              0  ...   83.0  21.47       80.0    107.0

[4238 rows x 15 columns]
0       0
1       0
2       0
3       1
4       0
       ..
4233    1
4234    0
4235    0
4236    0
4237    0
Name: TenYearCHD, Length: 4238, dtype: int64

In [52]:
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=0.3, stratify=Y, random_state=1)

In [53]:
print(X_train.shape)
print(X_test.shape)

(2966, 15)
(1272, 15)

In [57]:
model=LogisticRegression(solver='lbfgs', max_iter=3000)

In [58]:
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=3000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [59]:
X_prediction= model.predict(X_train)
X_accuracy=accuracy_score(X_prediction,Y_train)

In [60]:
print(X_accuracy)

0.8577208361429535

In [62]:
X_test_prediction= model.predict(X_test)
X_test_accuracy=accuracy_score(X_test_prediction,Y_test)
print(X_test_accuracy)

0.8498427672955975

Now test the model against a random input:

In [65]:
input_data=(1,46,4,1,20,0,0,0,0,200,110,72,28.61,70,75)
input_numpy=np.asarray(input_data)
input_reshape=input_numpy.reshape(1,-1)
prediction=model.predict(input_reshape)
print(prediction)

[0]